  <!-- Element to contain animated typing -->
  <span id="element"></span>

  <!-- Load library from the CDN -->
  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

  <!-- Setup and start animation! -->
  <script>
    var typed = new Typed('#element', {
      strings: [
        {{ $array := split (.Get "data") "," }}
        {{ range $array }}
        {{ . }},
        {{ end }}
      ],
      smartBackspace: true, //Default value
      typeSpeed: 50,
    });
  </script>
